.header{
    background-color: hsl(206, 15%, 18%);
    width: 100%;
    padding: 0px 5px;    

}
.header__wrapper{
    max-width: 1224px;
    margin: 0 auto;
    padding: 26px 0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.logoText{
    font-size: 22px;
    font-weight: 600;
}
.imglogo{
    margin-right: 12px;
}
.header__sign{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu */
.header__menu ul{
    padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
.header ul li{
    margin: 0px 25px 0 0;
	display:inline-block;
}
.header ul li a{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 500;
    transition: all 0.2s;
}
.header ul li a:hover{
    color: #ff6e30;
    font-weight: 500;
}
.header ul ul{
    display: none;
	position: absolute;
	top: 100%;
}
.header ul li:hover > ul {
    display:inherit;
    z-index: 50;
}
.header ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
    margin-top: 10px;
}

.downMenu::after{
    content: ">";
    display:inline-block;
    transform: rotate(90deg);
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.55);
}


/* login a */
.login{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
    /* margin-right: 40px; */
    transition: all 0.2s;
}
.login:hover{
    color: #ff6e30;
}

.burger{
    position: relative;
    width: 30px;
    height: 20px;
    display: none;
    margin-right: 20px;
}
.burger::after, .burger::before, span{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 100%;
}
.burger::after{
    bottom: 0;
    left: 0;
}
.burger::before{
    top: 0;
    left: 0;
}
span{
    top: 50%;
    left: 0;
}

@media (max-width: 991px) {
    .burger{
        display: block;
    }
    .burger.active{
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: hsl(206, 15%, 18%);
        top: 0;
        left: 0;
    }
    .header__menu, .header__sign{
        position: absolute;
        left: -100%;
    }
    .header__sign{
        width: 100%;
    }
    .header__menu{
        display: none;
    }
}