.BurgerHidden{
    background-color: hsl(206, 15%, 18%);
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
@keyframes burgStart {
    0%{
        transform: translateX(100%);
    }
    100%{
    }
}
.BurgerHidden__wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 25px 10px;
    transition: all 0.2s ease-in-out;
    animation-name: burgStart;
    animation-duration: 0.4s;
}
.header{
    background-color: hsl(206, 15%, 18%);
    width: 100%;
    padding: 0px 5px;    

}
.header__wrapper{
    max-width: 1224px;
    margin: 0 auto;
    padding: 26px 0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.logoText{
    font-size: 22px;
    font-weight: 600;
}
.imglogo{
    margin-right: 12px;
}
.header__sign{
    margin-top: 30px;
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

/* menu */
.BurgerHidden ul{
    padding:0;
	margin:0;
	list-style: none;
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BurgerHidden ul li{
    margin: 25px 0px 0 0;
	display:inline-block;
}
.BurgerHidden__menu ul li a{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 500;
    transition: all 0.2s;
}
.BurgerHidden ul li a:hover{
    color: #ff6e30;
    font-weight: 500;
}
.BurgerHidden ul ul{
    display: none;
	position: absolute;
    left: 0%;
    top: 51%;
    padding: 10px;
    background: hsl(206, 15%, 18%);
}
.BurgerHidden ul li:hover > ul {
    display:inherit;
    z-index: 50;
}
.BurgerHidden ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
    margin-top: 10px;
}

.downMenu::after{
    content: ">";
    display:inline-block;
    transform: rotate(90deg);
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.55);
}


/* login a */
.login{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    font-size: 16px;
    /* margin-right: 40px; */
    transition: all 0.2s;
}
.login:hover{
    color: #ff6e30;
}

.burger{
    position: absolute;
    right: 0;
    top: 25px;
    width: 30px;
    height: 20px;
    margin-right: 20px;
}
.burger::after, .burger::before, span{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 100%;
}
.burger::after{
    bottom: 0;
    left: 0;
}
.burger::before{
    top: 0;
    left: 0;
}
span{
    top: 50%;
    left: 0;
}

